<%# #index.erb %>
<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <a href="/gossips/new/">ICI pour creer un nouveau GOSSIP</a>
    
    <% gossips.each_with_index do |gossip, id| %>
  <p>
    <strong>Auteur:</strong><%= gossip.author %><br/>
    <strong>Contenu:</strong><%= gossip.content %><br/>
    <a href="/gossips/<%= id + 1%>">Voir ce potin</a>

  </p>
  <% end %>

  </body>
</html>